*~
*.pdf
*.synctex.gz
*.log
*.aux
*.toc
*.out
*.dvi
*.bbl
*.blg
*.nav
*.snm
*.auxlock
*.dpth
*.md5
*.ps
*.csv
*.zip
*.pyc
*.tar.gz

results
results-copy
arch-test-venv
.idea
models
sched_opt_results
data

custom_paths.py
